*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

body{
    font-family: 'PT Sans', sans-serif;
}

/* inizio navbar */

/* navmenu nascosto in modalità mobile e tablet */
.hidden-menu{
    display: none;
}

nav{
    background-color: #0084fd;
    height: 60px;
    width: 100%;

    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
}

nav img{
    padding: 10px;
}

.btn-menu .fa-bars{
    font-size: 22px;
    color: white;
    padding: 18px;
}

.features{
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features-card{
    margin-top: 70px;
    background-color: #b5ddff;
    padding: 10px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
}

.features-card h2{
    color: #1c87eb;
    
}

.features-card p{
    color: #567595;
}

.features-card *{
    padding: 10px 0;
}

.btn-store{
    color: white;
    background-color: #0084fd;
    border-radius: 30px;
    width: 210px;
    text-align: center;
    padding: 5px 0;
    font-size: 1.1em;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn-store span{
    padding-top: 5px;
}

.features-1stblock{
    padding: 15px;
}

.features-2ndblock{
    padding-bottom: 0;
}

.features-2ndblock img{
    width: 100%;
    padding-bottom: 0;

    position: relative;
    top: 15px;
}

.features-logocard .fa-file-code-o{
   font-size: 82px;
   color: #0084fd;
   /* background-color: #0084fd; */
}


.features-card.small{
    align-items: center;
    margin: 0;
    
}

.features-card.small p{
    text-align: center;
}

.fa-solid{
    font-size: 82px;
    color: #0084fd;
}